
@import "../App.scss";


@mixin posCenter {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}
$color_gray01 : #BBB9B9;


.cate-title{
    text-align: center;
    padding: 2.5rem 0;
    width: 100%;
    color: white;
    background: #03234C;
}

#container{
    width: 90%;
    margin: 0 auto;
    padding: 4rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @include respond-to(large-screens){
        min-width: 1024px;
    }
    

    .item-list{
        //width: calc((100% - 3rem)/4);
        width: calc((100%)/4);
        //margin-right: 1rem;
        margin-bottom: 1rem;
        //border: 1px solid #ddd;
        position: relative;
        height: 350px;
        overflow: hidden;
        @include respond-to(medium-screens) {
            width: calc((100%)/3);
            height: 340px;
        }
        @include respond-to(small-screens) {
            width: calc((100%)/2);
            height: 320px;
        }
        @include respond-to(xsmall-screens) {
            width: calc((100%)/2);
            height: 290px;
        }

        .item-num{
            text-align: left;
            color: $color_gray01;
            padding-bottom: 0.5rem;
            font-size: 0.75rem;
        }
        .item-title{
            text-align: left;
            
        }

        .price{
            position: absolute;
            bottom: 8%;
            right: 1rem;
            text-align: right;
            font-size: 1.5rem;
            padding-left: 1rem;
            font-family: 'Sanchez';
            transition: 0.5s;
            transform: scale(0);
        }

        img{
            width: 100%;
            @include respond-to(medium-screens) {
                width: 88%;
            }
            @include respond-to(small-screens) {
                width: 80%;
            }

        }

        
    }
    .item-list.bag{
        img{
            width: 80%;

            @include respond-to(small-screens) {
                width: 74%;
            }
        }
    }

    .item-list.cap{
        img{
            width: 70%;

            @include respond-to(small-screens) {
                width: 60%;
            }
        }
    }

    .item-list:not(:last-child){
        margin-right: 0;
    }
    .item-list::after{
        content: '';
        @include posCenter();
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #F6F6F6;
        z-index: -1;
        transition: 0.5s;
    }
    .item-list.active::after{
        width: 240px;
        height: 240px;
        @include respond-to(small-screens){
            width: 180px;
            height: 180px;
        }
        @include respond-to(xsmall-screens){
            width: 150px;
            height: 150px;
        }
    }
    .item-list.active .price{
        transform: scale(1);
    }

}


