@import '../App.scss';

@mixin posCenter {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}
@mixin paddingWidth {
    width: 70%;
    margin: 0 auto;
    @include respond-to(medium-screens) {
        width: 90%;
    }
    @include respond-to(small-screens) {
        width: 90%;
    }
    @include respond-to(xsmall-screens) {
        width: 90%;
    }
}

$font_SCore: 'S-CoreDream';

$font_Inter : 'Inter';

$color_gray01 : #BBB9B9;


#container.unit-page{
    width: 100%;
    display: block;
    .mainInfo{
        @include paddingWidth();
        display: flex;
        align-items: center;
        padding: 2rem 0;
        @include respond-to(small-screens){
            padding: 0;
            display: block;}
        @include respond-to(xsmall-screens){
            padding: 0;
            display: block;}

        .item-img{
            width: 50%;
            height: 512px;
            position: relative;
            @include respond-to(small-screens){width: 100%; height: 450px;}
            @include respond-to(xsmall-screens){width: 100%; height: 450px;}

            .bg-circle{
                position: absolute;
                width: 100%;
                padding-bottom: 100%;
               
            }
            .bg-circle::after{
                content: '';
                position: absolute;
                left: 0; top: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background: #f9f9f9;
                @include respond-to(small-screens){
                    left: 50%; transform: translateX(-50%);
                    width: 76%; height: 76%;}
            }

            .image{
                @include posCenter();
                display: block;
                z-index: 10;
            }

            
        }

        .item-info{
            width: calc(50% - 1.7rem);
            margin-left: 1.7rem;
            display: block;
            text-align: left;
            @include respond-to(small-screens){
                width: 100%; margin-left: 0;
                margin-top: 2rem;
            }
            @include respond-to(xsmall-screens){width: 100%; margin-left: 0;}

            .title{
                font-family: $font_SCore;
                font-weight: 500;
                padding: 1.2rem 0;
                font-size: 2rem;
                @include respond-to(small-screens){text-align: center;}
                @include respond-to(xsmall-screens){text-align: center;}
            }
            .number{
                color: $color_gray01;
                @include respond-to(small-screens){text-align: center;}
                @include respond-to(xsmall-screens){text-align: center;}
            }

            h3{
                color: #9E9C9C;
                font-size: 1rem;
                @include respond-to(small-screens){text-align: center;}
                @include respond-to(xsmall-screens){text-align: center;}
                .price{
                    color: black;
                    padding-left: 2rem;
                    font-family: $font_Inter;
                    font-size: 2.2rem;
                    font-weight: 500;
                }
            }

            .item-color{
                display: flex;
                //justify-content: center;
                align-items: center;
                z-index: 20;
                @include respond-to(small-screens){justify-content: center;}
                @include respond-to(xsmall-screens){justify-content: center;}

                p{
                    color: #9E9C9C;
                    font-size: 1rem;
                    padding-right: 2rem;
                    @include respond-to(xsmall-screens){display: none;}
                }

                li{
                    width: 100px;
                    height: 100px;
                    
                }
            }

            .countWrap{
                padding: 1rem 0;
                @include respond-to(small-screens){text-align: center;}
                @include respond-to(xsmall-screens){text-align: center;}

                span{
                    display: inline-block;
                    padding: 0 2rem;

                }
                .countbtn{
                    padding: 0.5rem 0.7rem;
                    border: 1px solid #ddd;
                    margin: 0 0.5rem;
                    border-radius: 4px;
                }
            }


            .sizeWrap{
                padding: 1rem 0;
                @include respond-to(small-screens){text-align: center;}

                .sizebtn{
                    padding: 0.5rem 0.7rem;
                    border: 1px solid #ddd;
                    margin: 0.5rem;
                    border-radius: 4px;
                    
                }
            }
            .selectItem{
                padding: 1rem 0 ;
                @include respond-to(small-screens){
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                }

                .box-list {
                    
                    display: flex;
                    justify-content: center;
                    @include respond-to(small-screens){
                        border: 1px solid #ddd;
                        border-radius: 12px;
                        padding: 12px;
                    }
                    

                    .box-in-info{
                        
                        display: flex;
                        text-align: center;
                        align-items: center;
                        @include respond-to(small-screens){
                            flex: auto;
                            justify-content: space-evenly;
                        }
                        
                        div{ 
                            margin: 0 .5rem;
                            @include respond-to(small-screens){
                                margin: 0 1rem;
                            }
                        }

                        div:nth-of-type(1){
                            flex: 3;
                        }
                        div:nth-of-type(2){
                            flex: 4;
                        }
                        div:nth-of-type(){
                            flex: 1
                            
                            ;
                        }

                    }
                }
            }

            .btn-buy{
                @include respond-to(small-screens){text-align: center;}
                @include respond-to(xsmall-screens){text-align: center;}

                button{
                    margin: 0 4px;
                    width: 9.2rem;
                    height: 3rem;
                    line-height: 3rem;
                    border-radius: 1.5rem;
                    background: #fff;
                    color: #000;
                    font-weight: bold;
                    box-shadow: 4px 4px 8px rgba(0,0,0,0.2);

                    @include respond-to(medium-screens){width: 8rem;}
                    @include respond-to(small-screens){width: 8rem;}
                    @include respond-to(xsmall-screens){width: 7.4rem;}
                }
            }
        }
    }
    .recomend{
        width: 100%;
        height: 200px;
        background: #fafafa;
        @include respond-to(small-screens){height: 100px; margin-top: 30px;}
        @include respond-to(xsmall-screens){height: 100px; margin-top: 30px;}
    
    }
    .intro{
        padding-top: 5rem;
        @include paddingWidth();
         
        .title{
            font-family: $font_SCore;
            font-weight: 500;
            font-size: 2rem;
        }

        .desc{
            margin-top: 1.4rem;
            padding: 0 8rem;
            color: $color_gray01;
            line-height: 1.8;
            @include respond-to(small-screens){
                padding: 0 2rem;
            }
            @include respond-to(xsmall-screens){
                padding: 0 2rem;
            }
        }

    }
    
    .display{
        

        

        .display-inner{
            padding: 2rem 0;
            @include paddingWidth();
            display: flex;
            justify-content: center;
            align-items: center;
            @include respond-to(small-screens){
                display: block;
            }
            @include respond-to(xsmall-screens){
                display: block;
            }

           

            #mainImg{
                display: block;
                margin-right: 1rem;
                
                @include respond-to(small-screens){
                    margin-right: 0rem;
                    margin:  0 auto;
                }
                img{
                    @include respond-to(small-screens){
                        text-align: center;
                    }
                }
            }
            
            .cut-list{
                @include respond-to(small-screens){display: flex; justify-content: center;}
                @include respond-to(xsmall-screens){display: flex;}

                .cut-indicate{
                    width: 100px;

                    img{
                        width: 100%;
                    }

                    }
                }
            }
        }
    }

    .information{
        @include paddingWidth();

        .table-info{
            display: block;
            padding: 0 2rem;
            @include respond-to(xsmall-screens){padding: 0;}

            thead,tbody{
                text-align: left;
                width: 100%;

                tr{
                    width: 100%;
                    th{
                        width: 45%;
                        height: 2.5rem;
                        vertical-align: middle;
                    }
                    td{
                        width: 100%;
                        height: 2.5rem;
                        vertical-align: middle;
                    }
                }
            }
        }

    }




