@import '../App.scss';


.cart-container{
    width: 90%;
    margin: 0 auto;
    padding: 3rem 0;
    @include respond-to(small-screens){
        padding-top: 0;
        }
    @include respond-to(xsmall-screens){
        padding-top: 0;
        }

    .cart-title{
        padding: 2rem 0;
        text-align: center;
        font-size: 2.5rem;

        @include respond-to(small-screens){display: none;}
        @include respond-to(xsmall-screens){display: none;}
    }
    .cart-cont-wrap{
        
        margin-top: 4rem;
    
        
    
        .cart-table{
            width: 100%;
    
        
        
            table{
                width: 100%;
        
                thead{
                    background: #fbfbfb;
                    @include respond-to(medium-screens) {display: none !important;}
                    @include respond-to(small-screens) {display: none !important;}
                    @include respond-to(xsmall-screens) {display: none !important;}
                    
        
                    tr{
                        color: #aaa;
                        height: 3.5rem;
                        
        
                        th:nth-of-type(1){ width: 20%; }
                        th:nth-of-type(2){ width: 50%; }
                        th:nth-of-type(3){ width: 10%; }
                        th:nth-of-type(4){ width: 10%; }
                        th:nth-of-type(5){ width: 10%; }
                    }
                }
        
                tbody{
                    tr{ 
                        td:nth-of-type(1){ width: 20%; }
                        td:nth-of-type(2){ 
                            width: 50%; 
                            
                            .cart-main-info{
                                display: flex;
                                width: 100%;
                                align-items: center;
    
                                @include respond-to(small-screens){display: block;}
                                @include respond-to(xsmall-screens){display: block;}
        
                                span{
                                    padding: 0 1rem;
                                    
                                    @include respond-to(small-screens){display: block;}
                                    @include respond-to(xsmall-screens){display: block;}
                                }
    
                                .cart-it-title{
                                    font-size: 1.3rem;
                                }
    
                                @include respond-to(medium-screens){img{display: none;}}
                                @include respond-to(small-screens){img{display: none;}}
                                @include respond-to(xsmall-screens){img{display: none;}}
                            }
                        }
                        td:nth-of-type(3){ 
                            width: 10%;
                            min-width: 105px; 
        
                            .countbtn{
                                padding: 0.5rem 0.7rem;
                                border: 1px solid #ddd;
                                margin: 0 0.5rem;
                                border-radius: 4px;
                            }
                        }
                        td:nth-of-type(4){ width: 10%; }
                        td:nth-of-type(5){ width: 10%; }
        
                        @include respond-to(medium-screens) {
                            display: block;
                            td{display: block; padding: 1.2rem 0;}
                            td:nth-of-type(1){width: 100%;}
                            td:nth-of-type(2){width: 100%;}
                            td:nth-of-type(3){width: 100%;}
                            td:nth-of-type(4){width: 100%;}
                            td:nth-of-type(5){width: 100%;}
                        }
                        @include respond-to(small-screens) {
                            display: block;
                            td{display: block; padding: 1.2rem 0;}
                            td:nth-of-type(1){width: 100%;}
                            td:nth-of-type(2){width: 100%;}
                            td:nth-of-type(3){width: 100%;}
                            td:nth-of-type(4){width: 100%;}
                            td:nth-of-type(5){width: 100%;}
                        }
                        @include respond-to(xsmall-screens) {
                            display: block;
                            td{display: block; padding: 1.2rem 0;}
                            td:nth-of-type(1){width: 100%;}
                            td:nth-of-type(2){width: 100%;}
                            td:nth-of-type(3){width: 100%;}
                            td:nth-of-type(4){width: 100%;}
                            td:nth-of-type(5){width: 100%;}
                        }
                    }
                }
        
            }

            #counter{
                margin-top: 100px;

                .counter-inner{
                    padding: 100px 2%;
                    padding-top: 40px;
                    border-top: 1px solid #ddd;
                    
                    
                    .counter-box{
                        display: flex;
                        width: 60%;
                        margin-left: 40%;
                        text-align: right;
                        justify-content: flex-end;
                        align-items: flex-end;

                        div{
                            margin: 0 16px;
                            font-size: 20px;
                        }
                        
                        .total{
                            font-size: 40px;
                            font-family: 'Malgun Gothic';
                        }
                    }
                    


                }
            }
        
        }
        
    }
    .buy-action{
        margin-top: 4rem;
    
        button{
            width: 11rem;
            height: 3rem;
            line-height: 3rem;
            border-radius: 1.5rem;
            background: #fff;
            color: #000;
            font-weight: bold;
            box-shadow: 4px 4px 8px rgba(0,0,0,0.2);

            @include respond-to(xsmall-screens){
                width: calc((100% - 12px )/2);
            }
        }
        button:first-child{
            margin-right: 12px;
        }
    }

    .cart-m-content{
        .cart-list{
            display: flex;

            .cart-image{
                flex-basis: 50%;
                img{width: 100%;}
                @include respond-to(xsmall-screens) {
                    flex-basis: 120px;
                }
            }
            .cart-m-info > p{
                padding: 1rem 0;
            }

            .cart-m-info{
                margin-left: 2rem;
                flex-basis: calc(50% - 2rem);
                text-align: left;
                @include respond-to(xsmall-screens) {
                    flex-basis: calc(100% - 2rem - 120px);
                }

                .title{
                    font-family: $font_base;
                    font-size: 24px;
                    border-bottom: 1px solid $color_gray01;
                }
                .price span{
                    font-family: $font_number;
                    font-weight: 500;
                    font-size: 30px;
                    @include respond-to(xsmall-screens) {
                        font-size: 1.5rem;
                    }
                }
                >p{position: relative;}
                >p >span{
                    position: absolute;
                    display: block;
                    padding-left: 90px;
                    top: 50%; transform: translateY(-50%);
                }
                
            }
            
            .cart-select{
                 button{
                    width: 11rem;
                    height: 3rem;
                    border: 1px solid #ddd;
                    line-height: 3rem;
                    border-radius: 4px;
                    background: #fff;
                    color: #000;
                    font-weight: bold;
                 }
            }
            
            
        }
    }
}



