
@import '../../App.scss';


$fontNumber00 : "Sanchez";
$fontNumber01 : "roboto";

@mixin centerHorizon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


.slick-slider{
    //background: #F6F6F6;
    padding-bottom: 1rem;
    
    
    
    .slick-slide{
        border: 1px solid #ebebeb;
        opacity: 0.3;
        box-sizing: border-box;

        div{
            position: relative;
            

            .unit{
                position: absolute;
                left: 0; top: 0; 
    
                .unit-title{
                    height: auto;
                    @include centerHorizon();
                    bottom: 80px;
                    font-size: 18px;
                    @include respond-to(medium-screens) {bottom: 48px;}
                    @include respond-to(small-screens) {bottom: 52px; font-size: 16px;}
                    @include respond-to(xsmall-screens) {bottom: 44px; font-size: 14px;}
                    
                }
                .unit-price{
                    height: auto;
                    @include centerHorizon();
                    bottom: 50px;
                    font-size: 18px;
                    font-family: $fontNumber00;
                    @include respond-to(medium-screens) {bottom: 14px;}
                    @include respond-to(small-screens) {bottom: 18px; font-size: 18px;}
                    @include respond-to(xsmall-screens) {bottom: 14px; font-size: 18px;}
                    
                }
                .unit-btn{
                    position: absolute;
                    @include centerHorizon();
                    bottom: 30px;
                    opacity: 0;
                }
    
                img{
                    width: 80%;
                    display: block;
                    @include centerHorizon();
                    transform-origin: 20% 65%;
                    top: 35px;
                    @include respond-to(xsmall-screens) {top: 40px;}
                }
                .unit-cap{
                    width: 70%;
                }
            }
            .unit.bag{
                .unit-title{
                    bottom: 60px;
                    @include respond-to(medium-screens) {bottom: 48px;}
                    @include respond-to(small-screens) {bottom: 52px; font-size: 16px;}
                    @include respond-to(xsmall-screens) {bottom: 44px; font-size: 14px;}
                }
                .unit-price{
                    bottom: 24px;
                    @include respond-to(medium-screens) {bottom: 14px;}
                    @include respond-to(small-screens) {bottom: 18px; font-size: 18px;}
                    @include respond-to(xsmall-screens) {bottom: 14px; font-size: 18px;}
                }
                .unit-btn{
                    bottom: 25px;
                }
                img{
                    width: 70%;
                }
            }
            
        }
        
    }
    .slick-slide.slick-active{
        opacity: 0.95;
    }
    

    

   
}