.App {
  text-align: center;
}
$breakpoint-1280 : 1280px;
$breakpoint-1024 : 1024px;
$breakpoint-768 : 768px;
$breakpoint-480 : 480px;


@mixin respond-to($media) {
    @if $media == xlarge-screens{
      @media only screen and (min-width:$breakpoint-1280) and (max-width:1920px){@content;}
    }@else if $media == large-screens {
        @media only screen and (min-width: $breakpoint-1024 + 1)and(max-width:$breakpoint-1280){@content;}
    }@else if $media == medium-screens{
        @media only screen and (min-width:$breakpoint-768 + 1) and (max-width:$breakpoint-1024){@content;}
    }@else if $media == small-screens{
        @media only screen and (min-width:$breakpoint-480 + 1) and (max-width:$breakpoint-768){@content;}
    }@else if $media == xsmall-screens{
      @media only screen and (max-width:$breakpoint-480){
        @content;
      }
    }
}

$font_base: 'S-CoreDream';
$font_Inter : 'Inter';
$color_gray01 : #BBB9B9;
$font_title : 'Oswald', sans-serif;
$font-number :'Quicksand', sans-serif;