@import '../App.scss';


#footer{
    background-color: #f8f8f8;
    padding: 3rem 0;

    .ft-inner{
        width: 70%;
        margin: 0 auto;
        @include respond-to(medium-screens) {width: 90%;}
        @include respond-to(small-screens) {width: 90%;}
        @include respond-to(xsmall-screens) {width: 90%;}
        .ft-list{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            height: 3rem;
            @include respond-to(small-screens) {margin-bottom: 1rem;}
            @include respond-to(xsmall-screens) {margin-bottom: 1rem;}

            li{
                margin: 0 1rem;
                line-height: 3rem;
                @include respond-to(small-screens) {margin: 0 .5rem;}
                @include respond-to(xsmall-screens) {margin: 0 .3rem;}
            }
        }
        .ft-info{
            border-top: 1px solid #ddd;
            padding: 1rem 0;
            display: flex;
            align-items: flex-start;
            @include respond-to(small-screens) {display: none;}
            @include respond-to(xsmall-screens) {display: none;}
            h4{
                flex-basis: 40%;
            }
            
            .company-info{
                
                border-left: 2px solid #ddd;
                flex-basis: 60%;
                
                ul{
                    padding-left: 1rem;
                    text-align: left;
                    
    
                li{
                    line-height: 1.6;
                }
                }
            }
            
        }
        .alert{
            padding-top: 2rem;
            line-height: 1.6;
            .text{
                color: #888;
            }
            .email{
                padding-top: 1rem;
                color: #888;
            }
        }

    }


}


